.card {
  max-width: 413px;
  border-radius: 8px;
  overflow: hidden;
}

.card__image {
  border-radius: 8px;
  height: 413px;
  width: 413px;
  object-fit: cover;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: transparent;
}

.card__like-btn {
  background: url("../images/heart.svg") no-repeat center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn.liked {
  background-image: url("../images/heart-filled.svg");
}

@media screen and (max-width: 635px) {
  .card {
    max-width: 288px;
    margin: 0 auto;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
}
