.footer {
  margin: auto;
}

.footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(33, 33, 33, 0.2);
  background-color: #f9f9f9; /* optional, adjust as needed */
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  color: #555; 
  line-height: 1.5;
}
