.footer {
  margin: auto;
  padding: 60px 0;
  text-align: center;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  color: #212121B2; /* updated color from Figma */
  line-height: 1;
  font-weight: 400;
}
