.header {
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
  object-fit: cover;
}

.header__title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
